@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 88.125vw;
}

.container-holiday {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/bg-holiday.png);
    background-position: center;
    background-size: cover;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin-bottom: 22px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    font-size: 18px;
}

.log-in {
    font-weight: bold;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 112px;
    line-height: 17px;
}

.ref-sign-up {
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 9px 5px;
    margin-left: 10px;
}

.about-holiday {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 138px;
}

.about-holiday h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30.041px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 12px;
}

.about-holiday h3 {
    width: 86.125vw;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 17px;
}

.about-holiday a {
    width: 100%;
    padding: 13px 0;
    border-radius: 30px;
    text-align: center;
    background: #ff4e50;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13.9987px;
    line-height: 17px;
    color: #ffffff;
}

.team {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 60px 0 56px 0;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team .container>h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22.0041px;
    line-height: 27px;
    color: #333333;
}

.team h2 {
    margin-top: 61px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
}

.team .employees {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team .employee {
    width: 60.625vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 27px;
}


.employee img {
    max-width: 120px;
    height: auto;
    margin-bottom: 13px;

}

.employee h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-bottom: 13px;
}

.employee p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    margin-bottom: 27px;
}

.team-btn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14.0026px;
    line-height: 17px;
    color: #FF4E50;
    text-align: center;
    background: #FFFFFF;
    border: 2px solid #FF4E50;
    box-sizing: border-box;
    padding: 13px 17px;
    border-radius: 50px;
    width: 195px;
    margin-bottom: 57px;
}

.team-btn:hover {
    background-color: #ff4e50;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .container {
        width: 61.19vw;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 135px;
    }

    .logo {
        margin-left: 50px;
    }

    .log-in {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 50px;
    }

    .about-holiday {
        padding-bottom: 233px;
    }

    .about-holiday h2 {
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 36px;
    }

    .about-holiday h3 {
        width: 100%;
        margin-bottom: 33px;
        font-size: 24px;
    }

    .about-holiday a {
        width: 48.51%;
        max-width: 228px;
    }

    .team .employees {
        justify-content: space-between;
    }

    .team .employee {

        width: 41.27%;
        padding-bottom: 50px;
    }

    .team .container>h2 {
        margin-bottom: 31px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 63.47vw;
    }

    .about-holiday h2 {
        display: inline-block;
        width: 55.57%;
        font-size: 52px;
        line-height: 64px;
        margin-bottom: 36px;
    }

    .about-holiday h3 {
        margin-bottom: 33px;
    }

    .about-holiday a {
        width: 48.51%;
        max-width: 228px;
    }

    .team .employees {
        margin-bottom: 37px;
    }

    .team .employee {
        width: 21.22%;
        padding-bottom: 0;
    }

}