@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 88.125vw;
}

.container-holiday {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/bg-holiday.png);
    background-position: center;
    background-size: cover;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}