@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0; 
    padding: 0;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 30px;
    line-height: 37px;
    color: #95E1D3;
}

header {
    display: flex;
    justify-content: center;
}

a::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F38181;
    content: "";
    transition: 0.3s ease-out;
}

a:hover {
    color: #F38181;
}

li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    vertical-align: middle;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.Title {
    font-family: 'Kaushan Script', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 20px;
}

.services {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
    margin-top: 20px;
}

a {
    position: relative;
    color: #95E1D3;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

a:hover:after,
a:focus:after {
    width: 45%;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #B6B6B6;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-block {
    display: flex;
    height: 100%;
    width: 11.17%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 23.61px;
}

.container {
    width: 60.83vw;
}

.line {
    display: inline-block;
    height: 4px;
    width: 60px;
    background-color: #F38181;
    margin-bottom: 40px;
}

li::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    transition: all 0.2s;
    transform: scaleX(0);
    background-color: #F38181;
}


main {
    display: flex;
    justify-content: center;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-block h2 {
    margin-bottom: 20px;
}

.list {         
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 39.16%;      
}

.benefits {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.benefit {
    display: flex;
    width: 28.33%;
    margin-bottom: 100px;
}

.benefit-start {
    display: flex;
    width: 28.33%;
    margin-bottom: 100px;
    justify-content: start;
}

.benefit-end {
    display: flex;
    width: 28.33%;
    margin-bottom: 100px;
    justify-content: end;
}

.job {
    font-family: 'Roboto', sans-serif;
}

.contaner {
    width: 65.625vw;
}

.team {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.person {
    position: relative;
    width: 30.95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gradient {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    min-height: 380px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
    ;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item {
    width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCE38A;
    margin-right: 1px;
}

.social-item:hover {
    background-color: #95E1D3;
}

.man {
    width: 100%;
    min-height: 380px;
    background-size: cover;
    background-position: center;
}

.first-man .man {
    background-image: url(/img/M1.png);
}

.second-man .man {
    background-image: url(/img/M2.png);
}

.third-man .man {
    background-image: url(/img/M3.png);
}

.first-man .man:hover .gradient {
    display: flex;
}

.second-man .man:hover .gradient {
    display: flex;
}

.third-man .man:hover .gradient {
    display: flex;
}

.team::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #626262;
}

footer {
    display: flex;
    justify-content: center;
}

.footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-lines {
    display: inline-block;
    width: 100px;
    height: 1px;
    color: #000000;
}

.footer-container {
    display: flex;
}

.footer-form input {
    height: 39px;
    padding-left: 15px;
    border: 1px solid #B6B6B6;
}

.footer-form input::placeholder {
    color: #B6B6B6;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.footer-text_red {
    color: 243, 129, 129, 1;
}

.footer-form button {
    background: #95E1D3;
    width: 150px;
    height: 40px;
    border: none;
}

.btn {
    margin-left: 510px;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 48px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B4AD9E;
    background-color: #ffffff;
    border: 1px solid #626262;
    margin-bottom: 70px;
}

.btn:hover {
    background-color: #ffffff;
}