@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Montserrat:wght@600;700&family=Roboto+Slab:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

.logo {
    font-family: 'Bilbo Swash Caps', cursive;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 30px;
    line-height: 37px;
    color: #FED136;
}

header {
    display: flex;
    justify-content: center;
}

.header-container {
    margin-top: 41px;
}

li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    vertical-align: middle;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.Title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 75px;
    color: #333333;
    margin-top: 92px;
    margin-bottom: 93.5px;
}

.services {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
    margin-top: 20px;
}

a {
    position: relative;
    color: #FED136;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

a:hover:after,
a:focus:after {
    width: 45%;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #777777;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #FED136;
}

.container {
    width: 66.64vw;
}

.conainer {
    width: 100%;
    height: 100%;
    left: 100%;
    top: 100%;
    background: #222222;
}


li::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    transition: all 0.2s;
    transform: scaleX(0);
    background-color: #F38181;
}

.textblock {
    text-align: center;
}


main {
    display: flex;
    justify-content: center;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-block h2 {
    margin-bottom: 20px;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 51.44%;
}

.benefits {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28.33%;
    margin-bottom: 100px;
}

.Contact-us {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 92px;
}

.sub {
    width: 455px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.black {
    width: 100%;
    height: 679px;
    background-color: #222222;
    display: flex;
    justify-content: center;
}

.btns {
    display: flex;
    justify-content: center;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    background: #FED136;
    width: 242px;
    height: 68px;
    color: #FFFFFF;
    margin-top: 29px;
    border: none;
}

.cont {
    width: 942px;
}

.tell {
    margin-top: 114px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: start;
}

textarea {
    width: 45%;
    height: 212px;
    background: #FFFFFF;
    padding-left: 22px;
    padding-top: 14px;
    border: 1px solid #CCCCCC;
}

input {
    width: 455px;
    height: 50px;
    background: #FFFFFF;
    padding-left: 10px;
    border: 1px solid #CCCCCC;    
    /* display: flex; 
    flex-direction: column; 
    justify-content: space-between; */

}